<div id="body_layout">
	<a id="return_home" href="/">Volver</a>
	<form method="post" onsubmit="return validatePoi();" onchange="return validatePoi();">
		<% include form.ejs %>
	</form>
</div>

<% include map.ejs %>