
#logo img {
	width: 70px;
	height: 70px;
	padding: 20px;
}

#header_bar h1 {
	width: 80%;
	font-size: 3em;
	text-align: center;
}

#body_layout {
	padding: 20px;
	display: inline-block;
	vertical-align: top;
}

#div_map {
	display: inline-block;
	width: 50%;
	margin-left: 10%;
	padding: 20px 50px 50px 50px;
}